@import url(https://fonts.googleapis.com/css?family=Quicksand:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700);

:root {
  --darktext: hsl(120, 3%, 31%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --paragraphlineheight: 2.2;
  --letterspace: 6px;
  --lightwhite: hsla(0, 0%, 100%, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: Dosis, sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fdfdfd;
}

header {
  height: 90vh;
  background: linear-gradient(
      180deg,
      hsla(0, 0%, 4%, 0.6),
      hsla(0, 0%, 4%, 0.6)
    ),
    url(images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

header .logo {
  max-width: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 4rem;
  top: 3rem;
}

header label {
  height: 30px;
  width: 3.2rem;
  cursor: pointer;
}

header label span {
  transition: all 0.3s ease-out;
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: var(--lightwhite);
  position: absolute;
}

header label span:nth-child(2) {
  top: 10px;
}

header label span:nth-child(3) {
  top: 20px;
}

header #menu,
header label {
  z-index: 20;
  position: absolute;
  right: 4rem;
  top: 3rem;
}

header #menu {
  display: none;
}

header label:hover span:nth-child(2) {
  height: 2px;
  transform: scaleX(0.8);
}

header #menu:checked + label span:nth-child(2) {
  display: none;
}

header #menu:checked + label span:nth-child(1) {
  transform: rotate(225deg);
  top: 10px;
}

header #menu:checked + label span:nth-child(3) {
  transform: rotate(-225deg);
  top: 10px;
}

header nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  background-color: grey;
  z-index: 10;
  background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0.6),
      hsla(0, 0%, 0%, 0.6)
    ),
    url(images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  transform: translateY(-100%);
  transition: 0.5s ease;
}

header #menu:checked ~ nav {
  transform: translateY(0);
}

header nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 17px;
  font-size: 1.7rem;
  letter-spacing: 4px;
}

header nav ul li {
  position: relative;
  overflow: hidden;
}

header nav ul li:after,
header nav ul li:before {
  content: "";
  background-color: hsl(0, 0%, 70%);
  width: 100%;
  height: 1.5px;
  display: block;
  transition: 0.5s ease;
}

header nav ul li:before {
  transform: translateX(110%);
}

header nav ul li:after {
  transform: translateX(-110%);
}

header nav ul li:hover::before,
header nav ul li:hover::after {
  transform: translateX(0);
}

header nav ul li a {
  text-decoration: none;
  color: var(--lightwhite);
  padding: 7px 35px;
  display: block;
  position: relative;
}

header nav ul li:hover a {
  /* color: var(--white); */
  color: #2ecc71;
}

header nav ul li a::before,
header nav ul li a::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 1.5px;
  background-color: transparent;
  transition: 0.7s ease;
}

header nav ul li a::before {
  left: 0;
  top: 0;
  transform: translateY(-110%);
}

header nav ul li a::after {
  right: 0;
  bottom: 0px;
  transform: translateY(110%);
}

header nav ul li:hover a::before,
header nav ul li:hover a::after {
  transform: translateY(0);
  background-color: hsl(0, 0%, 70%);
  /* background-color: #2ecc71; */
}

.downarrow {
  position: absolute;
  left: 4rem;
  bottom: 3rem;
  cursor: pointer;
  animation-name: rotatearrow;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

@keyframes rotatearrow {
  30%,
  to {
    transform: rotateY(1turn);
  }
}

.headings {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.headings h1 {
  font-size: 3.8rem;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 2.8rem;
  color: var(--white);
  border-right: 2px solid hsla(0, 0%, 100%, 0.8);
  animation: blink 0.8s step-end infinite, typing 2.9s steps(25) forwards;
  width: 0%;
  overflow: hidden;
}

.headings span {
  color: #2ecc71;
}

.headings p {
  font-size: 1.2rem;
  margin-top: 5px;
  letter-spacing: 0.5rem;
  color: var(--white);
  opacity: 0;
  animation: slideinup 2s ease 3.2s forwards;
}

header img.photo {
  max-width: 100px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: block;
  z-index: 30;
  border: 2px solid transparent;
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: hsla(0, 0%, 100%, 0.8);
  }
  100% {
    border-color: transparent;
  }
}

@keyframes typing {
  to {
    width: 100%;
  }
}

@keyframes slideinup {
  from {
    transform: translateY(20px);
  }
  40%,
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.section-headings {
  text-align: center;
  font-size: 2.1rem;
  letter-spacing: 6px;
  font-weight: 400;
  word-spacing: 2px;
  margin-bottom: 30px;
}

.about {
  padding: 100px 15px 60px 15px;
}

.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.about p {
  text-align: justify;
  font-size: 2rem;
  line-height: 2.2;
  padding: 20px 30px;
  font-weight: 300;
}

.about p a {
  color: #2980b9;
  text-decoration: none;
  font-weight: 400;
}

.about p a svg {
  vertical-align: sub;
}

.divider {
  height: 370px;
  width: 1px;
  background-color: #f0f0f0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.skills {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.skills h4 {
  font-size: 1.4rem;
  font-weight: 300;
}

.skills .html,
.skills .css,
.skills .js,
.skills .react,
.skills .wordpress,
.skills .firebase,
.skills .xd,
.skills .rn {
  border: 10px solid #f0f0f0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: inset 0px 2px 8px 0px rgba(99, 99, 99, 0.3);
}

.skills .html::before,
.skills .html::after,
.skills .css::before,
.skills .css::after,
.skills .js::before,
.skills .js::after,
.skills .react::before,
.skills .react::after,
.skills .wordpress::before,
.skills .wordpress::after,
.skills .firebase::before,
.skills .firebase::after,
.skills .xd::before,
.skills .xd::after,
.skills .rn::before,
.skills .rn::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  left: -10px;
  top: -10px;
}

.skills .html::before,
.skills .css::before,
.skills .js::before,
.skills .react::before,
.skills .wordpress::before,
.skills .firebase::before,
.skills .xd::before,
.skills .rn::before {
  border: 10px solid #f0f0f0;
  border-right: 10px solid #8e44ad;
  border-bottom: 10px solid #8e44ad;
  transform: rotate(-45deg);
}

.skills .html::after,
.skills .css::after,
.skills .js::after,
.skills .react::after,
.skills .wordpress::after,
.skills .firebase::after,
.skills .xd::after,
.skills .rn::after {
  border: 10px solid transparent;
  border-left: 10px solid #8e44ad;
  border-top: 10px solid #8e44ad;
  transform: rotate(-70deg);
}

/*  */

.skills .css::before {
  border-right: 10px solid #fd7e14;
  border-bottom: 10px solid #fd7e14;
}

.skills .css::after {
  border-left: 10px solid #fd7e14;
  border-top: 10px solid #fd7e14;
  transform: rotate(-80deg);
}

.skills .js::before {
  border-right: 10px solid #28a745;
  border-bottom: 10px solid #28a745;
}

.skills .js::after {
  border-left: 10px solid #28a745;
  border-top: 10px solid #28a745;
  transform: rotate(-100deg);
}

.skills .react::before {
  border-right: 10px solid #2980b9;
  border-bottom: 10px solid #2980b9;
}

.skills .react::after {
  border-left: 10px solid #2980b9;
  border-top: 10px solid #2980b9;
  transform: rotate(-110deg);
}

.skills .wordpress::before {
  border-right: 10px solid #40576e;
  border-bottom: 10px solid #40576e;
}

.skills .wordpress::after {
  border-left: 10px solid #40576e;
  border-top: 10px solid #40576e;
  transform: rotate(-90deg);
}

.skills .firebase::before {
  border-right: 10px solid #ffc107;
  border-bottom: 10px solid #ffc107;
}

.skills .firebase::after {
  border-left: 10px solid #ffc107;
  border-top: 10px solid #ffc107;
  transform: rotate(-130deg);
}

.skills .xd::before {
  border-right: 10px solid #dc3545;
  border-bottom: 10px solid #dc3545;
}

.skills .xd::after {
  border-left: 10px solid #dc3545;
  border-top: 10px solid #dc3545;
  transform: rotate(-150deg);
}

.skills .rn::before {
  border-right: 10px solid #035397;
  border-bottom: 10px solid #035397;
}

.skills .rn::after {
  border-left: 10px solid #035397;
  border-top: 10px solid #035397;
  transform: rotate(-220deg);
}

.extras {
  height: 50px;
  width: 100%;
  background-color: #112b3c;
  clip-path: polygon(
    50% 10%,
    100% 0,
    100% 0,
    99% 50%,
    100% 100%,
    50% 90%,
    0 100%,
    1% 50%,
    0 0,
    0 0
  );
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.projects {
  margin: 0 40px;
  padding: 80px 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.head-divider {
  max-width: 30rem;
  height: 2px;
  background-color: #d8dce6;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.projects-list {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  gap: 70px 0;
  flex-wrap: wrap;
}

.projects-list div {
  width: 310px;
  height: 250px;
  color: #fff;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  border: 3px solid #fff;
}

.projects-list div .front {
  background-image: url(images/project1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
  z-index: 10;
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects-list div span.title-front,
.projects-list div span.title-back {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #035397;
  letter-spacing: 5px;
  padding: 5px 10px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  text-transform: uppercase;
}

.projects-list div .front::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.projects-list div .back {
  background-color: #1e222e;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s;
  transform: rotateY(180deg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects-list div .back a {
  color: hsla(255, 255%, 255%, 0.7);
  display: inline-block;
  text-decoration: none;
  position: relative;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  padding: 5px 10px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  font-size: 1.7rem;
  backface-visibility: hidden;
}

.projects-list div .back a:hover {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  color: hsla(255, 255%, 255%, 1);
}

.projects-list div:hover .front {
  transform: rotateY(-180deg);
}

.projects-list div:hover .back {
  transform: rotateY(0);
}

.projects-list .react-blog .front {
  background-image: url(images/react-blog.png);
}

.projects-list .movie .front {
  background-image: url(images/project2.jpg);
}

.projects-list .xpensify .front {
  background-image: url(images/project5.jpg);
}

.projects-list .weatherapp .front {
  background-image: url(images/project3.jpg);
}

.projects-list .freeimages .front {
  background-image: url(images/project4.jpg);
}

.projects-list .adobexd .front {
  background-image: url(images/project7.jpg);
}

/*  */

.services {
  padding: 100px 15px 60px 15px;
}

.services .services__container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 80px;
  flex-wrap: wrap;
}

.services__service {
  width: 200px;
}

.services__service svg {
  width: 100px;
  height: 100px;
  transition: 1s;
}

.services__service h3 {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 10px 0;
  letter-spacing: 1px;
}

.services__service p {
  font-size: 1.7rem;
  line-height: 1.5;
  padding: 0 5px;
  color: #4e524e;
  font-weight: 300;
}

.services__service svg.frontend {
  fill: #e67e22;
}
.services__service svg.design {
  fill: #8e44ad;
}
.services__service svg.mobile {
  fill: #a4c639;
}
.services__service svg.wp {
  fill: #2c3e50;
}
.services__service svg.fast {
  fill: #2980b9;
}

.contact {
  padding: 100px 15px 60px 15px;
  background: linear-gradient(
      180deg,
      hsla(0, 0%, 4%, 0.6),
      hsla(0, 0%, 4%, 0.6)
    ),
    url(images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 3rem 3rem 0 3rem;
  color: var(--white);
}

.contact__textcontent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact__textcontent a {
  margin: 3rem;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
  color: #fff;
}

.contact__textcontent svg {
  vertical-align: middle;
}

footer {
  margin: 4rem 0 2rem 0;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 400;
}

footer a {
  text-decoration: none;
}

footer svg {
  transition: 0.5s;
  fill: #2c3e50;
  margin: 25px 7px 15px 7px;
}

.projects .head-divider,
.services .head-divider,
.contact .head-divider {
  max-width: 60px;
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  header {
    height: 80vh;
    background-position: top left;
  }

  header .logo {
    left: 2.2rem;
    top: 4rem;
    max-width: 4rem;
  }

  header #menu,
  header label {
    right: 2.2rem;
    top: 4rem;
  }

  header nav {
    height: 80vh;
    background-size: initial;
    background-position: left top;
  }

  header nav ul {
    gap: 20px;
    font-size: 2rem;
  }

  .about p {
    font-size: 2.2rem;
  }

  .downarrow {
    left: 2.2rem;
    bottom: 4rem;
  }

  .divider {
    display: none;
  }

  .two-cols {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .extras {
    padding: 20px;
    height: 70px;
    line-height: 20px;
    font-size: 1.3rem;
  }

  .section-headings {
    font-size: 2.5rem;
  }

  .about {
    padding: 100px 5px 60px 5px;
  }

  .projects {
    margin: 0 20px;
    padding: 80px 35px;
  }

  .projects .head-divider {
    max-width: 60px;
    background-color: blueviolet;
  }

  .services__service:not(:last-child) {
    margin-bottom: 50px;
  }

  .services .head-divider {
    max-width: 60px;
    background-color: green;
  }

  .services__service h3 {
    font-size: 1.9rem;
  }

  .services__service p {
    font-size: 1.9rem;
  }

  .contact {
    padding: 50px 15px 50px 15px;
    background-size: initial;
    margin: 2rem 2rem 0 2rem;
  }

  .contact .head-divider {
    max-width: 60px;
    background-color: red;
  }

  .contact__textcontent a {
    margin: 2rem;
  }

  footer {
    margin: 3rem 3rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 400;
  }
}
